body {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    background: #f0f0f0;
}
textarea {
    font-size: 1.3rem;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px #aaa;
    width: calc(100% - 14px);
    display: block;
    padding: 7px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}
textarea:focus {
    outline: none !important;
}

ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.8rem;
}
.wrap {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-templaterows: auto;
}

div.intro {
    background: #f0f0f0;
}
div.intro h2 {
    text-align: center;
}

div.grid > div{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 750px) {
    .wrap {
        display: block;
    }
}

